#firstsectionSplash {
    background-image: url(billeder/splashimagemountain.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    max-width: none;
    position: relative;
    background-position: 60% 20%;
}

.portfolio_h1 h1 {
    font-size: 10rem;
    text-shadow: 0 0 15px #D82D28;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: whitesmoke;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 170px;

}

.portfolio_p p {
    font-size: 2rem;
    text-align: center;
    font-family: 'Commissioner',
        sans-serif;
    color: whitesmoke;
    margin-top: 0;
    margin-bottom: 5px;
}

.imgpre img:hover {
    transform: scale(1.05);

}

#thirdsectionProjectsPre img:hover {
    transform: scale(1.05);
}

#thirdsectionProjectsPre img {
    transition: transform .2s;
    margin-bottom: 15px;
    width: 100%;
    box-shadow: 0 0 20px black;
    border-radius: 20px;
    filter: grayscale(20%);
    display: flex;
}

#thirdsectionProjectsPre figure {
    text-align: center;
    text-shadow: 0 0 10px #D82D28;
    color: whitesmoke;
}

h2 {
    font-size: 5rem;
    font-family: 'Orbitron', sans-serif;
    color: #2AB2C0;
    margin-bottom: 0;
    margin-top: 0;
}

#secondsectionMe .linjep {
    padding-left: 15px;
}

.linjep a,
#thirdsectionProjectsPre figure a {
    color: whitesmoke;

    font-family: 'Commissioner', sans-serif;
    line-height: 1.4;
}

#thirdsectionProjectsPre h2 {
    text-align: center;
}

.image-container {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.image-container figure {
    flex-grow: 1;
}

.image-container figure {
    padding: 0 0 1px;
    background: transparent;
    font-family: 'Orbitron', sans-serif;
    color: darkgrey;
}

.image-container figure .button {
    justify-content: center;
}

/*secondsectionMeslut---------------------------*/

/*Meadiequery start---------------------------*/

@media (min-width: 1200px) {
    #secondsectionMe {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 100px;
        padding-right: 25px;
        padding-left: 50px;
        font-size: 1.1rem;
    }

    #thirdsectionProjectsPre h2 {
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    .imgpre img {
        width: 500px;
        height: 500px;
        transition: transform .2s;
        margin-left: 50px;
        margin-top: 15px;
    }

}

@media (min-width: 700px) and (max-width: 1200px) {
    #secondsectionMe {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 100px;
        padding-right: 25px;
        font-size: 1.1rem;
    }

    #secondsectionMe p,
    #secondsectionMe h2 {
        padding-left: 20px;
    }

    #secondsectionMe .linjep {
        padding-left: 35px;
        font-size: 2rem;
    }


    .imgpre img {
        width: 400px;
        height: 400px;
        transition: transform .2s;
        margin-left: 50px;
        margin-top: 75px;
    }

    .migPre a {
        padding-left: 15px;
        font-size: 1rem;
    }

    #thirdsectionProjectsPre h2 {
        margin-top: 4rem;

    }

    .portfolio_h1 h1 {
        font-size: 6rem;
    }

    .portfolio_p p {
        font-size: 1.2rem;
    }


}



@media (max-width: 700px) and (min-width: 350px) {


    .portfolio_h1 h1 {
        font-size: 3rem;
        padding-top: 240px;

    }

    .portfolio_p p {
        font-size: 0.8rem;
        margin: 0;

    }

    .portfolio_p_2 p {
        font-size: 1rem;
        margin: 0;
        padding-top: 12px;

    }

    #secondsectionMe {
        padding-left: 20px;
        padding-right: 20px;
    }

    #secondsectionMe li {
        padding-right: 13px;
    }

    .migPre h2,
    #thirdsectionProjectsPre h2 {
        font-size: 2rem;
        text-align: center;
        margin-top: 50px;
    }

    .imgpre img {
        transition: transform .2s;
        margin-left: 0px;
        margin-top: 30px;
        width: 100%;
        height: auto;
    }


    .centerButton {
        text-align: center;
    }

    #thirdsectionProjectsPre {
        margin-top: 5rem;
    }


    .image-container {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .image-container figure {
        flex-basis: 90%;
        flex-shrink: 0;
        scroll-snap-align: center;
    }

    .image-container img {
        margin-right: 20px;
    }

}
